<% if (post.source) { %>
    <div class="<%= class_name %>">
        <i class="fa fa-edit"></i>
        <%- link_to('https://prose.io/#deffyc/blog/edit/src/source/'+post.source, '编辑', {external: true}) %>
    </div>
<% } %>
